* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  text-decoration: none;
}
:root {
  /* Sidebar Colors */
  /* dk=dark    lt=light */
  --sidebar-width: 240px;
  --sidebar-back-dk: #242536;
  --sidebar-hover-dk: #1a3143ee;
  --sidebar-focus-dk: #214b5266;
  --sidebar-dark: #1f1f28;

  --sidebar-back-lt: #383b69;
  --sidebar-hover-lt: #2f5878ee;
  --sidebar-focus-lt: #357b8766;
  --sidebar-light: #37374a;

  /* Content Colors */
  --content-back-dk: #111; 
  --content-color-dk: #eee;
  
  --content-back-lt: #fefefe;
  --content-color-lt: #111;

  /* Form Colors */
  --form-input-focus-dk: #1a3143;
  --form-button-back-dk: #194952;
  --form-button-hover-dk: #045766;
  --form-button-shadow-dk: #396cd8;
  

  --form-input-focus-lt: #77ace8;
  --form-button-back-lt: #44def2;
  --form-button-hover-lt: #24aec2; 
  --form-button-shadow-lt: #396cd8;

  /* Storage Colors */
  --storage-width: 0%; /* 0px to 400px */
  --storage-back-lt: #384dc3;
  --storage-content-lt:#88ddff;
  --storage-back-dk: #114255;
  --storage-content-dk: #2693e9;
}
body.charge {
  display: none;
}
body {
  display: flex;
  overflow-y: hidden;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
a { 
  color: inherit;
}
#storage_bar {
  position: relative;
  width: 90%;
  height: 25px;
  background-color: var(--storage-back-lt);
  overflow: hidden;
  border-radius: 0.6rem;
  margin: 8px 0px;
}
#storage_bar::before {
  content: '';
  position: absolute;
  background-color: var(--storage-content-lt);
  height: 25px;
  border-radius: 0.6rem;
  width: var(--storage-width);
}
#sidebar.dark + #content form #storage_bar {
  background-color: var(--storage-back-dk);
}
#sidebar.dark + #content form #storage_bar::before {
  background-color: var(--storage-content-dk);
}
/* --- Form Styles --- */
form {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 3rem 10%;
  max-height: 80vh;
  width: 80%;
}
form button, #rd-create {
  width: 80%;
  margin: 3rem auto 2rem auto;
  border: none;
  border-radius: 8px;
  padding: 0.8em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--form-button-back-lt);
  transition: all 0.25s;
}
form button i {
  margin-right: 20px;
}
form input {
  width: 80%;
  margin: 10px auto;
  border: 1.8px solid var(--form-input-focus-lt);
  border-radius: 8px;
  padding: 0.8em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #3330;
  transition: all 0.25s;
  transition: box-shadow 0.00001ms;
}
.dst_address {
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 10%;
}
.dst_address > div {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dst_address > div > *{
  width: 90%;
}
form label {
  margin: 1rem auto 0px auto;
}
button, #rd-create {
  cursor: pointer;
}
form button:hover, #rd-create:hover {
  background-color: var(--form-button-hover-lt);
}
input,
button {
  outline: none;
}
form input:focus {
  border: none;
  border-radius: 0;
  border-bottom: 1.8px solid var(--form-input-focus-lt);
}
form #password_field {
  display: inline-flex;
  position: relative;
}
form #show_icon {
  position: absolute;
  top: 50%;
  right: 13%;
  transform: translate(0, -45%);
  max-width: 2.6rem;
  max-height: 2.6rem;
  font-size: 1.3em;
}
#sidebar.dark + #content form input {
  border: 1.8px solid var(--form-input-focus-dk);
}
#sidebar.dark + #content form input:focus {
  border: none;
  border-bottom: 1.8px solid var(--form-input-focus-dk)
}
#sidebar.dark + #content form button {
  background-color: var(--form-button-back-dk);
}
#sidebar.dark + #content #rd-create {
  background-color: var(--form-button-back-dk);
}
#sidebar.dark + #content form button:hover {
  background-color: var(--form-button-hover-dk);
}
#sidebar.dark + #content #rd-create:hover {
  background-color: var(--form-button-hover-dk);
}
#content {
  position: relative;
  left: var(--sidebar-width);
  height: 100vh;
  background-color: var(--content-back-lt);
  width: calc(100% - var(--sidebar-width));
  transition: all 0.4s;
}
#content * {
  color: #111;
}
#sidebar.dark ~ #content {
  background-color: var(--content-back-dk);
}
#sidebar.dark ~ #content * {
  color: var(--content-color-dk);
}
/* --- SIDEBAR STYLES --- */
#sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  background-color: var(--sidebar-back-lt);
  color: white;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.4s;
}
#sidebar.dark {
  background-color: var(--sidebar-back-dk);
}
#sidebar header {
  position: relative;
  align-items: center;
  display: flex;
  align-items: center;
  background-color: var(--sidebar-back-lt);
  height: 70px;
  transition: all 0.4s;
}
#sidebar.dark header {
  background-color: var(--sidebar-back-dk);
}
#sidebar header #toggle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sidebar-hover-lt);
  top: 10px;
  right: -20px;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
  height: 25px;
  width: 25px;
  z-index: 100;
  transition: rotate 0.6s;
}
#sidebar.dark header #toggle {
  background-color: var(--sidebar-hover-dk);
}
#sidebar ul {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sidebar ul a {
  width: 88%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 15px 0px 15px 12px;
}
#sidebar.close ul a {
  width: auto;
  padding: 15px;
}
#sidebar ul a:hover {
  background-color: var(--sidebar-hover-lt);
}
#sidebar ul a.active {
  background-color: var(--sidebar-focus-lt);
}
#sidebar.dark ul a:hover {
  background-color: var(--sidebar-hover-dk);
}
#sidebar.dark ul a.active {
  background-color: var(--sidebar-focus-dk);
}
#sidebar ul a *{
  display: inline;
}
#sidebar ul a i {
  font-size: 30px;
}
#sidebar ul .desc {
  margin-left: 15px;
  font-size: 19px;
  transition: all 0.4s;
}
#sidebar.close ul .desc {
  opacity: 0;
  display: none;
}
#sidebar.close {
  width: 90px;
}
#sidebar.close ~ #content {
  left: 90px;
  width: calc(100% - 90px);
}
#sidebar footer {
  position: absolute;
  bottom: 2rem;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#toggle_darkmode {
  cursor: pointer;
  background-color: var(--sidebar-light);
  height: 4em;
  width: 10em;
  border-radius: 80px;
}
#sidebar.close #toggle_darkmode {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
}
#sidebar.close #toggle_darkmode::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sidebar.dark #toggle_darkmode {
  background-color: var(--sidebar-dark);
}
#toggle_darkmode::before {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--sidebar-back-lt);
  font-size: 28px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: 50%;
  left: 48px;
  transform: translateY(-50%);
  transition: all 0.2s ease-in;
}
#sidebar.dark #toggle_darkmode::before {
  background-color: var(--sidebar-back-dk);
}
#toggle_darkmode.active::before {
  left: calc(100% - 50px - 48px);
}
